In [1]:
import pandas as pd

In [2]:
employees = pd.read_csv("../data/employees.csv")
employees

  employee_id     name             skill  availability_hours
0         E01    Alice            Python                   8
1         E02      Bob     Data Analysis                   6
2         E03  Charlie            Python                   4
3         E04    Diana  Machine Learning                   6

In [3]:
tasks = pd.read_csv("../data/tasks.csv")
tasks

  task_id          task_name    required_skill  required_hours
0     T01  Sales Forecasting            Python               4
1     T02       Log Analysis     Data Analysis               3
2     T03     Model Training  Machine Learning               5

In [4]:
assignments = []

for _, task in tasks.iterrows():
    # Find employees with matching skill and enough available hours
    eligible_employees = employees[
        (employees["skill"] == task["required_skill"]) &
        (employees["availability_hours"] >= task["required_hours"])
    ]
    
    if not eligible_employees.empty:
        selected_employee = eligible_employees.iloc[0]
        assignments.append({
            "task_id": task["task_id"],
            "task_name": task["task_name"],
            "assigned_to": selected_employee["name"]
        })
    else:
        assignments.append({
            "task_id": task["task_id"],
            "task_name": task["task_name"],
            "assigned_to": "No suitable employee"
        })

assignments

[{'task_id': 'T01', 'task_name': 'Sales Forecasting', 'assigned_to': 'Alice'},
 {'task_id': 'T02', 'task_name': 'Log Analysis', 'assigned_to': 'Bob'},
 {'task_id': 'T03', 'task_name': 'Model Training', 'assigned_to': 'Diana'}]

In [5]:
assignment_df = pd.DataFrame(assignments)
assignment_df

  task_id          task_name assigned_to
0     T01  Sales Forecasting       Alice
1     T02       Log Analysis         Bob
2     T03     Model Training       Diana

In [6]:
assignment_df.to_csv("../results/task_assignments.csv", index=False)